.main {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}
.main p {
  font-size: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 100%;
}

.container div {
  max-width: 60ch;
}

.join {
  text-align: center;
  font-size: 2rem;
}

.iframe {
  border: none;
}
