.main {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}
.main p {
  font-size: 1.3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  justify-content: space-around;
  width: 100%;
}

.container div {
  flex: 1 1;
  max-width: min(100vw, 60ch);
  padding: 2rem;
}

.aatuImage {
  width: 100%;
  min-width: min(40ch, 80vw);
  height: auto;
  aspect-ratio: 1 / 1;
}

.description {
  min-width: 50ch;
}

.joinContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 2rem;
}

.join {
  text-align: center;
  font-size: 2rem;
}

.iframe {
  border: none;
  max-width: 80vw;
}
