.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 2rem;
}

.site_title {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  align-self: flex-end;
  font-size: 2rem;
}

.socials {
  display: flex;
  place-content: flex-end;
  align-items: flex-end;
  gap: 2rem;
  padding: 0 2rem;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: black;
}

.menuContainer {
  align-self: start;
}

.list {
  padding: 1rem;
}

.listItem {
  text-decoration: none;
  color: black;
  max-width: 30ch;
  flex: unset;
  font-size: 1.3rem;
}