.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: var(--red);
}

/* Honest to god cannot figure out a good CSS grid wrap solution 
 * so fuck it I'm just doing a media query
*/
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}

.container > * {
  margin: 1rem 0;
  min-width: min(200px, 100%);
  max-width: 100%;
}

.menuContainer {
  display: flex;
  justify-content: center;
}

.menuContainer .icon {
  height: 2.5rem;
  width: 2.5rem;
}

.container *:has(.site_title) {
  flex: 1 1;
  place-content: center;
}

.site_title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  align-self: flex-end;
  font-size: min(2rem, 10vw);
  color: #ffffff;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: #ffffff;
}

.list {
  padding: 1rem;
}

.listItem {
  text-decoration: none;
  color: black;
  max-width: 30ch;
  flex: unset;
  font-size: 1.3rem;
}